.app-container {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: roboto;
}

.loader-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list-container {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.heading {
  align-self: flex-start;
  margin-left: 80px;
}

.failure-container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: #4656a1;
  color: #ffffff;
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.failure-image {
  width: 400px;
}
